<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Employee List</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <ng2-smart-table [settings]="settings" [source]="employees" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)"
                                (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
                        </div>
                    </div>
                </div>
            
    </div>
</div>