<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card mb-0">

            <div class="card-body mb-0">
                <div class="card-block mb-0">
                    <div class="media mt-3 mb-0 show-hand" *ngFor="let employee of employees; let i=index" [hidden]="employee.id != currentUser.employeeId" (click)=setEmployee(employee)>
                        <div class="media-body valign-middle">
                            <h4 class="card-title">My Clock</h4>
                            <p class="font-small-3 my-0" *ngIf="employee.onlineFor!=null">At work : {{printDateTime(employee.onlineFor)}}</p>
                            <p class="font-small-3 my-0" *ngIf="employee.lastClockOut!=null">...</p>
                        </div>
                        <div class="media-body col-lg-3 col-md-3 col-3" (click)=setEmployee(employee)>
                            In : {{printDateTime(employee.lastClockIn)}}
                            <br> Out : {{printDateTime(employee.lastClockOut)}}
                        </div>
                        <div class="media-right col-lg-3 col-md-3 col-3">
                                <button class="bd-flex mr-2 btn btn-raised btn-round py-1 width-100 justify-content-center btn-round btn-raised {{ employee.status == 'IN' ? ' btn-success' : 'btn-danger' }}"
                                (click)=clockClick(employee)>{{ employee.status == 'IN' ? 'Clock Out' : 'Clock In' }}</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="currentUser.userType===1 || currentUser.userType===2" >
            <div class="card-header">
                <h4 class="card-title m-0">Employee Clocks</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="media my-0 mx-0 show-hand" *ngFor="let employee of employees; let i=index" [hidden]="employee.active === false || employee.id === currentUser.employeeId" (click)=setEmployee(employee)>
                        <img alt="96x96" class="media-object d-flex mx-0 px-0 align-self-center bg-primary height-50 witdh-50 rounded-circle" src="assets/img/portrait/small/avatar-s-12.png">
                        <div class="media-body col-lg-6 col-md-6 col-6">
                            <h4 class="font-medium-1 mt-2 mb-0">{{employee.firstName}} {{employee.lastName}}</h4>
                         <!--   <p class="text-muted font-small-3 my-0">{{employee.title}}</p> -->
                            <p class="font-small-3 my-0" *ngIf="employee.onlineFor!=null">At work : {{printDateTime(employee.onlineFor)}}</p>
                            <p class="font-small-3 my-0" *ngIf="employee.lastClockOut!=null">...</p>
                        </div>
                        <div class="media-body col-lg-3 col-md-3 col-3" >
                            In : {{printDateTime(employee.lastClockIn)}}
                            <br> Out : {{printDateTime(employee.lastClockOut)}}
                        </div>
                        <div class="media-right col-lg-3 col-md-3 col-3">
                            <button class="bd-flex mr-2 btn btn-raised btn-round py-1 width-100 justify-content-center btn-round btn-raised {{ employee.status == 'IN' ? ' btn-success' : 'btn-danger' }}"
                                (click)=clockClick(employee)>{{ employee.status == 'IN' ? 'Clock Out' : 'Clock In' }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
          <div class="card" *ngFor="let device of devices let i=index" [hidden]="currentUser.userType===3">  
                    <div class="card-body">
                            <div class="px-3 py-3">
                                <div class="media">
                                    <div class="media-body text-left">
                                        <h3 class="mb-1 {{ device.alive ? 'success' : 'warning' }}">{{device.description}} - {{ device.alive ? 'Connected' : 'Connection Lost' }}</h3>
                                        <span>Last Alive Check: {{ printDateTime(device.lastLogTime) }}</span>
                                    </div>
                                    <div class="media-right align-self-center">
                                        <i class="ft-cpu {{ device.alive ? 'success' : 'warning' }} font-large-2 float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
        
        </div>

            <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Time Sheet - {{currentEmployee.firstName + ' ' + currentEmployee.lastName}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <ng2-smart-table [settings]="settings" [source]="timeSheets" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)"
                                (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
                        </div>
                    </div>
                </div>
    </div>
</div>